
@{
    ViewBag.Title = "BuyerVideos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .for-buyers-link a {
        background: #8C6D00 !important;
    }

    .home-link a, .for-buyers-link-sub1 a, .for-buyers-link-sub2 a, .for-buyers-link-subl a, .for-buyers-link-subnew a {
        background: transparent !important;
    }

        .home-link a:hover, .for-buyers-link-subl a:hover, .for-buyers-link-sub2 a:hover,.for-buyers-link-subnew a:hover {
            background: #8C6D00 !important;
        }
</style>

<div class="container wow fadeInDown">
    <section class="video-slider">
        <div class='row' style="margin:0">
            <div>
                <div class="carousel slide media-carousel" id="media" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item  active">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">

                                        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/dWFjvq6TncU"></iframe>

                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">
                                        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/i8lblK7iR0Y"></iframe>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">
                                        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/wDaiHKT3wfM"></iframe>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">
                                        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/O78cv4AhtcU"></iframe>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/ygSRcDpjsOM"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/fvPRTgUbHdY"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/mrKJ3Y3TiKo"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/08O5KMfaSdw"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/fTq_-3I8FuM"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/-mlevfmLhtg"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/ci9wInzHxPQ"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/65SB8zczyuE"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/vEO3moEXou8"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/AEXhDjZehBo"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/FLpupbKLQXA"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/_elzyG4qE7Y"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/7ksxQ9q3kw4"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/2lMNqj5pdXE"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/_IosAdz2XSI"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/FqP7uGQM6E0"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/a3QsO7wCI5I"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/QPRiKJboRLU"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/E16XOugifKI"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/W_W0Egj0Qus"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/QfDjnZJocV4"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/ZaBqUIPU6_k"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/98yxSaozN2A"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/r61BFL6yQ8Y"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/qIkryHx7fEs"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/B3G8-l92lSQ"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/U9f6HH-oEnc"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/kJT5zvQ6a44"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/3nE_HB542C8"></iframe></a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/2iu_HXe-NuA"></iframe></a>
                                </div>
                                <div class="col-md-4">
                                    <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/eZkAtjmaPLU"></iframe></a>
                                </div>
                                @*<div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="http://www.youtube.com/embed/HKDgAW8NJoo"></iframe></a>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#media" class="right carousel-control">›</a>
                </div>
            </div>
        </div>
    </section>
</div>
