
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
<style>
    .home-link .dropdown-menu a {
          background: #8C6D00 !important;
    }
</style>
<div class="row" style="  background: #f2f2f2; margin:0">
    <div class="container wow fadeInDown">
        <h2 class="video-heading" style="margin-top:25px; text-align:center">Buyers</h2>
        <section class="video-slider">
            <div class='row' style="margin:0">
                <div>
                    <div class="carousel slide media-carousel" id="media">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">

                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/dWFjvq6TncU"></iframe>

                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/i8lblK7iR0Y"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/wDaiHKT3wfM"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/O78cv4AhtcU"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/ygSRcDpjsOM"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/fvPRTgUbHdY"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/mrKJ3Y3TiKo"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/08O5KMfaSdw"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/fTq_-3I8FuM"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/-mlevfmLhtg"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/ci9wInzHxPQ"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/65SB8zczyuE"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/vEO3moEXou8"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/AEXhDjZehBo"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/FLpupbKLQXA"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/_elzyG4qE7Y"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/7ksxQ9q3kw4"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/2lMNqj5pdXE"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/_IosAdz2XSI"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/FqP7uGQM6E0"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/a3QsO7wCI5I"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/QPRiKJboRLU"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/E16XOugifKI"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/W_W0Egj0Qus"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/QfDjnZJocV4"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/ZaBqUIPU6_k"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/98yxSaozN2A"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/r61BFL6yQ8Y"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/qIkryHx7fEs"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/B3G8-l92lSQ"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/U9f6HH-oEnc"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/kJT5zvQ6a44"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/3nE_HB542C8"></iframe></a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="https://www.youtube.com/embed/2iu_HXe-NuA"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/eZkAtjmaPLU"></iframe></a>
                                    </div>
                                    @*<div class="col-md-4">
                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="http://www.youtube.com/embed/HKDgAW8NJoo"></iframe></a>
                    </div>*@
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="container wow fadeInDown">
        <h2 class="video-heading" style="text-align:center"> Sellers</h2>
        <section class="video-slider">
            <div class='row' style="margin:0">
                <div>
                    <div class="carousel slide media-carousel" id="media2">
                        <div class="carousel-inner">

                            <div class="item  active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">

                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/2lMNqj5pdXE"></iframe>

                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/BY_lnZa8KHg"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/G9KMjwjpVr4"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/5Nu7H0XlvTw"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/UJTbokrf0i4"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/kJT5zvQ6a44"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/ag541hxAkK8"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/EmDUohbN0U4"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/fepKzIdeEVc"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/hDBxCRvgRBA"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/HKDgAW8NJoo"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/tnQcloG-I44"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/T8k-CVdTIV0"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/pjdv2KHxCxE"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/2iu_HXe-NuA"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/ci9wInzHxPQ"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/pU65hyE0kuQ"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/6IoCBzKWxvE"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/mcIxD7AeO7Y"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/dXldMFpD9jM"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/BOmor0ZbeQo"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/B3G8-l92lSQ"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/Z6pz2f7MWDw"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/9EA0s9ktIkQ"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/nV8HnJyxrDI"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/z8AdE6VNXCY"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/KMRcQMeZcao"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/wDaiHKT3wfM"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/SxPNTkVu5IU"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px"
                                                    src="https://www.youtube.com/embed/_IosAdz2XSI"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <a data-slide="prev" href="#media2" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media2" class="right carousel-control">›</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container wow fadeInDown">
        <h2 class="video-heading" style="text-align:center"> Homeowners</h2>
        <section class="video-slider">
            <div class='row' style="margin:0">
                <div>
                    <div class="carousel slide media-carousel" id="media3">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">

                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/bEKNhMIfIbU"></iframe>

                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/BY_lnZa8KHg"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/HKDgAW8NJoo"></iframe>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/bEKNhMIfIbU"></iframe>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="http://www.youtube.com/embed/BY_lnZa8KHg"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="http://www.youtube.com/embed/HKDgAW8NJoo"></iframe></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">   <iframe width="100%" height="300px" src="http://www.youtube.com/embed/bEKNhMIfIbU"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="http://www.youtube.com/embed/BY_lnZa8KHg"></iframe></a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="thumbnail" href="#">  <iframe width="100%" height="300px" src="http://www.youtube.com/embed/HKDgAW8NJoo"></iframe></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media3" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media3" class="right carousel-control">›</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

